#hotwords-2014 {
	width: 462px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	margin: 0 auto
}

#hotwords-2014 a {
	float: left;
	white-space: nowrap;
	margin-right: 10px
}

#logo-2014 {
	margin-top: 25px
}

.error_dog {
	width: 100%;
	min-height: 1000px;
	display: block
}



.seckill_mod_goodslist {
	margin-left: -10px;
	margin-bottom: -20px
}

.seckill_mod_goods {
	float: left;
	margin-left: 10px;
	margin-bottom: 20px;
	height: 390px;
	position: relative;
	background: #fff
}

.seckill_mod_goods_link {
	width: 230px;
	padding: 20px 30px 0;
	background: #fff;
	display: block;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	text-align: center
}

.seckill_mod_goods_link_img {
	width: auto;
	height: 230px;
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	-moz-transition: transform .3s, -moz-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s, -moz-transform .3s
}

.seckill_mod_goods_link:hover .seckill_mod_goods_link_img {
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px)
}

.seckill_mod_goods_title {
	color: #333;
	font-size: 14px;
	margin: 20px 0;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	font-weight: 400;
	text-align: left;
	line-height: 20px;
	height: 40px;
	overflow: hidden
}

.seckill_mod_goods_info {
	overflow: hidden;
	text-align: left;
	height: 60px;
	display: block;
	border: 1px solid #e01222;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 288px
}

.seckill_mod_goods_info_txt {
	padding: 8px 30px;
	display: block;
	position: relative;
	line-height: 1
}

.seckill_mod_goods_info_btn {
	width: 108px;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	background: #d91222
}

.seckill_mod_goods_info_i {
	color: #fff;
	line-height: 62px;
	font-size: 16px;
	display: block;
	top: 0;
	right: 0;
	width: 92px;
	text-align: center;
	position: absolute;
	background: #e01222
}

.seckill_mod_goods_info_i:hover {
	color: #fff;
	background: #e03340
}

.seckill_mod_goods_tag {
	background-position: 0 -393px;
	width: 40px;
	height: 50px;
	line-height: 42px;
	text-align: center;
	color: #fff;
	*font-size: 30px
}

.seckill_mod_goods_tag,
.seckill_mod_goods_tag_10 {
	background-image: url(../../images/mall/sprite.png);
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	top: 30px;
	left: 30px;
	overflow: hidden
}

.seckill_mod_goods_tag_10 {
	background-position: -1262px -289px;
	width: 60px;
	height: 45px
}

.seckill_mod_goods_tag_11 {
	background-position: -1390px -289px
}

.seckill_mod_goods_tag_11,
.seckill_mod_goods_tag_12 {
	background-image: url(../../images/mall/sprite.png);
	background-repeat: no-repeat;
	width: 60px;
	height: 45px;
	display: block;
	position: absolute;
	top: 30px;
	left: 30px;
	overflow: hidden
}

.seckill_mod_goods_tag_12 {
	background-position: -1326px -289px
}

.seckill_mod_goods_tag_i {
	line-height: 1.1;
	display: inline-block;
	width: 28px;
	text-align: center;
	margin: 0 auto;
	vertical-align: middle;
	*font-size: 12px
}

.seckill_mod_goods_end {
	background: #000;
	background: rgba(0, 0, 0, .5);
	font-size: 16px;
	width: 80px;
	height: 80px;
	position: absolute;
	z-index: 1;
	color: #fff;
	left: 50%;
	margin-left: -40px;
	top: 20%;
	text-align: center;
	-moz-border-radius: 100%;
	border-radius: 100%;
	display: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80)
}

.seckill_mod_goods_end_t {
	display: inline-block;
	width: 34px;
	line-height: 1.1;
	margin-top: 24px
}

.seckill_mod_goods_price {
	display: block;
	line-height: 1.1
}

.seckill_mod_goods_price_now {
	font-size: 28px;
	color: #e01222;
	font-family: arial;
	margin-right: 5px;
	line-height: 1
}

.seckill_mod_goods_price_now em {
	font-size: 14px
}

.seckill_mod_goods_price_now_small {
	font-size: 22px
}

.seckill_mod_goods_progress {
	display: block;
	margin-top: 5px
}

.seckill_mod_goods_out {
	background-image: url(../../images/mall/sprite_soldout.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 120px;
	height: 120px;
	display: block;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -60px;
	-webkit-transition: background .3s;
	-moz-transition: background .3s;
	transition: background .3s
}

.seckill_mod_goods_ptxt {
	color: #999
}

.seckill_mod_goods_ptxt,
.seckill_mod_goods_tip {
	display: block;
	margin-top: 5px;
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.seckill_mod_goods_tip {
	color: #3d4042;
	font-size: 14px
}

.seckill_mod_goods_price_pre {
	font-size: 14px;
	color: #666
}

.seckill_mod_goods_progress_inner {
	width: 88px;
	height: 11px;
	background: #b8b8b8;
	display: inline-block;
	position: relative;
	overflow: hidden;
	margin-left: 5px
}

.seckill_mod_goods_progress_completed {
	background: #e01222;
	width: 40%;
	position: absolute;
	left: 0;
	top: 0;
	height: 11px
}

.seckill_mod_goods_soldout .seckill_mod_goods_info {
	border: 1px solid #787878
}

.seckill_mod_goods_soldout .seckill_mod_goods_info .seckill_mod_goods_info_i {
	background: #787878
}

.seckill_mod_goods_soldout .seckill_mod_goods_info .seckill_mod_goods_info_i i {
	border-color: transparent transparent #787878
}

.seckill_mod_goods_soldout:hover .seckill_mod_goods_out {
	background-image: url(../../images/mall/sprite_soldout.png);
	background-position: -124px 0;
	background-repeat: no-repeat;
	width: 120px;
	height: 120px
}

.seckill_mod_goodspre .seckill_mod_goods_info_btn {
	background: #443630
}

.seckill_mod_goodspre .seckill_mod_goods_info {
	border: 1px solid #443630
}

.seckill_mod_goodspre .seckill_mod_goods_info_i {
	background: #443630
}

.skdialog {
	width: 400px;
	background: #fff;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 30px 0;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 45%;
	-moz-box-shadow: 3px 4px 10px -2px #8e8e8e;
	box-shadow: 3px 4px 10px -2px #8e8e8e
}

.skdialog_x {
	background-image: url(../../images/mall/sprite.png);
	background-position: -2046px -198px;
	background-repeat: no-repeat;
	width: 13px;
	height: 13px;
	display: block;
	position: absolute;
	font-size: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	right: 10px;
	top: 10px;
	display: none
}

.skdialog_x:hover {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg)
}

.skdialog_desc {
	font-size: 18px;
	color: #666;
	margin: 0 30px 14px
}

.skdialog_a {
	font-size: 14px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #f55224;
	display: inline-block;
	width: 104px;
	height: 30px;
	line-height: 30px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	color: #fff
}

.skdialog_a:hover {
	background-color: #ff6f47;
	color: #fff
}

.btip {
	height: 34px;
	width: 100%;
	line-height: 34px;
	position: fixed;
	bottom: -34px;
	font-size: 12px;
	z-index: 100;
	color: #333;
	text-align: center;
	visibility: hidden;
	-webkit-transition: bottom .3s ease .5s;
	-moz-transition: bottom .3s ease .5s;
	transition: bottom .3s ease .5s
}

.btip .grid_c1 {
	position: relative
}

.btip_show {
	visibility: visible;
	bottom: 0
}

.btip_dec {
	background: #fff;
	background: hsla(0, 0%, 100%, .9);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90)
}

.btip_lk {
	color: #f65225
}

.btip_x {
	background-image: url(../../images/mall/sprite.png);
	background-position: -1809px -225px;
	background-repeat: no-repeat;
	width: 7px;
	height: 7px;
	display: block;
	position: absolute;
	font-size: 0;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	transition: all .25s;
	right: 10px;
	top: 13px
}

.btip_x:hover {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg)
}

.sk_mod_sectitle_container {
	text-align: center;
	margin-bottom: 30px
}

.sk_mod_sectitle {
	border-bottom: 2px solid #666;
	padding: 0 50px;
	font-weight: 400;
	display: inline-block;
	text-align: center;
	position: relative
}

.sk_mod_sectitle .sk_mod_sectitle_txt {
	color: #666;
	font-size: 20px;
	display: inline-block;
	padding: 0 8px;
	background: #e9e9e9;
	position: relative;
	top: 10px
}

.o2_mini .mod_container {
	min-width: 990px
}

.o2_mini .grid_c1 {
	width: 990px
}

.o2_mini .spsk .brand_fullcut_item_btn {
	position: absolute;
	left: 277px;
	top: 101px;
	width: 97px;
	height: 24px;
	line-height: 24px;
	font-size: 15px;
	text-align: center
}

.o2_mini .seckill_mod_goods {
	height: 350px
}

.o2_mini .seckill_mod_goods_link {
	width: 180px
}

.o2_mini .seckill_mod_goods_info {
	width: 238px;
	height: 62px
}

.o2_mini .seckill_mod_goods_info_btn {
	width: 50px
}

.o2_mini .seckill_mod_goods_info_txt {
	padding: 8px 8px 8px 20px
}

.o2_mini .seckill_mod_goods_progress_inner {
	width: 65px
}

.o2_mini .seckill_mod_goods_info_btn {
	width: 82px
}

.o2_mini .seckill_mod_goods_info_i {
	width: 82px;
	font-size: 14px
}

.o2_mini .sk_mod_er {
	display: none!important
}

.fixed,
.seckill_mod_goods_info_i,
.sk_mod_er {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden
}

.o2_ie7 .skmask {
	filter: alpha(opacity=50)
}

.o2_retina .skdialog_x {
	background-position: -345px -196px;
	width: 13px;
	height: 13px
}

.o2_retina .seckill_mod_goods_tag,
.o2_retina .skdialog_x {
	background-image: url(../../images/mall/sprite@2x.png);
	-moz-background-size: 984px 346px;
	background-size: 984px 346px;
	background-repeat: no-repeat
}

.o2_retina .seckill_mod_goods_tag {
	background-position: -287px -264px;
	width: 40px;
	height: 50px
}

.o2_retina .seckill_mod_goods_tag_10 {
	background-position: -287px -217px
}

.o2_retina .seckill_mod_goods_tag_10,
.o2_retina .seckill_mod_goods_tag_11 {
	background-image: url(../../images/mall/sprite@2x.png);
	-moz-background-size: 984px 346px;
	background-size: 984px 346px;
	background-repeat: no-repeat;
	width: 60px;
	height: 45px
}

.o2_retina .seckill_mod_goods_tag_11 {
	background-position: -349px -217px
}

.o2_retina .seckill_mod_goods_tag_12 {
	background-image: url(../../images/mall/sprite@2x.png);
	background-position: -411px -217px;
	-moz-background-size: 984px 346px;
	background-size: 984px 346px;
	background-repeat: no-repeat;
	width: 60px;
	height: 45px
}

.o2_retina .seckill_mod_goods_soldout:hover .seckill_mod_goods_out {
	background-position: 0 0
}

.o2_retina .seckill_mod_goods_out,
.o2_retina .seckill_mod_goods_soldout:hover .seckill_mod_goods_out {
	background-image: url(../../images/mall/sprite_soldout@2x.png);
	-moz-background-size: 242px 120px;
	background-size: 242px 120px;
	background-repeat: no-repeat;
	width: 120px;
	height: 120px
}

.o2_retina .seckill_mod_goods_out {
	background-position: -122px 0
}

.d_price_tips {
	padding: 15px 0;
	text-align: center;
	font-size: 12px;
	line-height: 16px
}

.d_price_tips .grid_c1 {
	position: relative
}

.d_price_tips_h {
	color: #e4393c
}

.d_price_tips_ico {
	display: none;
	position: absolute;
	left: 0;
	top: 2px;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	background: url(../../images/mall/56b197daNefbff474.gif)
}

.d_price_tips_ls p {
	text-align: left
}

.bprd .seckill_mod_goods_soldout .seckill_mod_goods_info {
	border: 1px solid #787878
}

.sk_mod_hd {
	height: 120px;
	line-height: 118px;
	background: #fff
}

.sk_mod_hd_cnt {
	width: 315px;
	float: left
}

.sk_mod_hd_lg {
	float: left;
	width: 147px;
	margin-right: 20px;
	padding-top: 45px
}


.sk_mod_hd_adg,
.sk_mod_hd_lg_lk {
	vertical-align: middle;
	margin-right: 10px
}

.sk_mod_hd_adg {
	display: inline-block;
	overflow: hidden;
	*zoom: 1;
	*display: inline
}

.sk_mod_hd_adg_t {
	margin-left: 10px
}

.sk_mod_hd_adg i {
	line-height: 34px;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	*zoom: 1;
	*display: inline
}

.sk_mod_hd_cd {
	background-position: 0 -35px;
	width: 34px;
	height: 34px
}


.sk_mod_hd_rl {
	background-position: -38px -35px;
	width: 34px;
	height: 34px
}


.skmu {
	height: 44px;
	width: 100%;
	background: #fff;
	border-bottom: 2px solid #e01222
}

.skmu_gani {
	background: url(../../images/mall/guide_animate.gif);
	width: 176px;
	height: 185px;
	position: absolute;
	right: -46px;
	top: -85px
}

.skmu_list {
	float: left;
	overflow: hidden;
	display: inline-block
}

.skmu_list_item {
	float: left;
	font-size: 20px;
	line-height: 44px;
	padding: 0 12px
}

.skmu_list_item a {
	color: #333;
	font-weight: 700
}

.skmu_list_item a:hover {
	color: #e01222
}

.skmu_list_item_on {
	color: #fff;
	background: #e01222
}

.skmu_list_item_on a,
.skmu_list_item_on a:hover {
	color: #fff
}

.skmu_cls {
	line-height: 50px;
	position: relative;
	width: 878px;
	z-index: 3;
	float: left;
	height: 44px
}

.skmu_cls_list {
	overflow: hidden;
	height: 44px
}

.skmu_cls_line {
	display: inline-block;
	width: 1px;
	height: 12px;
	background-color: #d3d3d3;
	float: left;
	margin-top: 18px
}

.skmu_cls_item {
	float: left;
	font-size: 14px;
	line-height: 44px;
	width: 87px;
	text-align: center
}

.skmu_cls_item_on a {
	color: #e01222
}

.skmu_cls_item i {
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s
}

.skmu_cls_item a:hover {
	color: #e01222
}

.skmu_cls_item a:hover i {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg)
}

.skmu_cls_item_last {
	margin-right: 0
}

.skmu_cls_item_active a {
	color: #e01222
}

.skmu_cls_item_active a i {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg)
}

.skmu_mcate {
	position: absolute;
	width: 425px;
	border-top: 4px solid #fff;
	right: 0;
	background: #fff;
	padding: 10px 20px;
	padding-right: 0;
	top: 156px;
	-webkit-transition: all .3s ease;
	-moz-transition: all ease .3s;
	transition: all .3s ease;
	opacity: 0;
	visibility: hidden
}

.skmu_mcate_active {
	opacity: 1;
	top: 56px;
	visibility: visible
}

.skmu_mcate_on {
	color: #e01222
}

.skmu_mcate a {
	font-size: 14px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	float: left;
	width: 80px;
	line-height: 35px;
	margin-right: 5px
}

.skmu_mcate a:hover {
	color: #e01222
}

.skmu_mcate s {
	font-size: 0;
	position: absolute;
	right: 40px;
	width: 0;
	height: 0;
	top: -14px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #fff
}

.skmu_arrow {
	background-image: url(../../images/mall/sprite.png);
	background-position: -2079px -198px;
	background-repeat: no-repeat;
	width: 9px;
	height: 5px;
	font-size: 0;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	margin-left: 8px
}

.o2_mini .skmu_cls {
	width: 678px
}

.o2_mini .skmu_cls_item {
	width: 67px
}

.o2_mini .skmu_cls_item_last {
	margin-right: 0
}

.o2_mini .skmu_arrow {
	margin-left: 2px
}

.o2_mini .seckill_mod_goods_link_img {
	height: 200px
}

.o2_retina .skmu_arrow {
	background-image: url(../../images/mall/sprite@2x.png);
	background-position: -374px -196px;
	-moz-background-size: 984px 346px;
	background-size: 984px 346px;
	background-repeat: no-repeat;
	width: 9px;
	height: 5px
}

.o2_firefox .skmu_cls,
.o2_safari .skmu_cls {
	width: 866px
}

.o2_firefox .skmu_cls_item,
.o2_safari .skmu_cls_item {
	width: 86px
}

.o2_firefox.o2_mini .skmu_cls,
.o2_safari.o2_mini .skmu_cls {
	width: 666px
}

.o2_firefox.o2_mini .skmu_cls_item,
.o2_safari.o2_mini .skmu_cls_item {
	width: 65px
}

.o2_firefox.o2_mini .skmu_cls_item_last,
.o2_safari.o2_mini .skmu_cls_item_last {
	width: 80px
}

.catinfo {
	min-height: 600px;
	overflow: hidden;
	position: relative
}

.catinfo_seckillnow {
	position: relative;
	padding-top: 40px;
	margin-top: -100px
}

.catinfo_seckillnow_title {
	background-image: url(../../images/mall/sprite.png);
	background-position: -1809px -198px;
	background-repeat: no-repeat;
	width: 190px;
	height: 23px;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	margin-left: -95px;
	top: 0
}

.catinfo_seckillnow .sk_mod_sectitle {
	*zoom: 1;
	*display: inline
}

.catinfo_title_inner {
	background-image: url(../../images/mall/sprite.png);
	background-position: -1194px 0;
	background-repeat: no-repeat;
	width: 1191px;
	height: 194px;
	text-align: center
}

.catinfo_title_inner_txt {
	color: #f64f28;
	font-weight: 700;
	font-size: 32px;
	line-height: 1
}

.catinfo_title_inner_icon,
.catinfo_title_inner_txt {
	display: inline-block;
	vertical-align: middle;
	*zoom: 1;
	*display: inline
}

.catinfo_title_inner_icon {
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center
}

.catinfo_title_inner_icon_19 {
	background-position: -77px 0;
	width: 68px;
	height: 68px
}

.catinfo_title_inner_icon_19,
.catinfo_title_inner_icon_25 {
	background-image: url(../../images/mall/sprite_ClassifyIcon.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1
}

.catinfo_title_inner_icon_25 {
	background-position: 0 -144px;
	width: 62px;
	height: 70px
}

.catinfo_title_inner_icon_29 {
	background-position: -141px -144px;
	width: 70px;
	height: 56px
}

.catinfo_title_inner_icon_29,
.catinfo_title_inner_icon_30 {
	background-image: url(../../images/mall/sprite_ClassifyIcon.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1
}

.catinfo_title_inner_icon_30 {
	background-position: -346px -65px;
	width: 44px;
	height: 73px
}

.catinfo_title_inner_icon_31 {
	background-position: 0 -218px;
	width: 76px;
	height: 49px
}

.catinfo_title_inner_icon_31,
.catinfo_title_inner_icon_32 {
	background-image: url(../../images/mall/sprite_ClassifyIcon.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1
}

.catinfo_title_inner_icon_32 {
	background-position: -219px -126px;
	width: 50px;
	height: 73px
}

.catinfo_title_inner_icon_33 {
	background-position: -66px -144px;
	width: 71px;
	height: 57px
}

.catinfo_title_inner_icon_33,
.catinfo_title_inner_icon_34 {
	background-image: url(../../images/mall/sprite_ClassifyIcon.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1
}

.catinfo_title_inner_icon_34 {
	background-position: 0 -271px;
	width: 62px;
	height: 56px
}

.catinfo_title_inner_icon_35 {
	background-position: -219px 0;
	width: 72px;
	height: 53px
}

.catinfo_title_inner_icon_35,
.catinfo_title_inner_icon_36 {
	background-image: url(../../images/mall/sprite_ClassifyIcon.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1
}

.catinfo_title_inner_icon_36 {
	background-position: -80px -218px;
	width: 74px;
	height: 42px
}

.catinfo_title_inner_icon_37 {
	background-position: 0 0;
	width: 73px
}

.catinfo_title_inner_icon_37,
.catinfo_title_inner_icon_38 {
	background-image: url(../../images/mall/sprite_ClassifyIcon.png);
	background-repeat: no-repeat;
	height: 68px;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1
}

.catinfo_title_inner_icon_38 {
	background-position: -72px -72px;
	width: 68px
}

.catinfo_title_inner_icon_39 {
	background-position: -149px 0;
	width: 66px;
	height: 66px
}

.catinfo_title_inner_icon_39,
.catinfo_title_inner_icon_40 {
	background-image: url(../../images/mall/sprite_ClassifyIcon.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1
}

.catinfo_title_inner_icon_40 {
	background-position: 0 -72px;
	width: 68px;
	height: 68px
}

.catinfo_title_inner_icon_41 {
	background-position: -149px -70px;
	width: 66px;
	height: 66px
}

.catinfo_title_inner_icon_41,
.catinfo_title_inner_icon_42 {
	background-image: url(../../images/mall/sprite_ClassifyIcon.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1
}

.catinfo_title_inner_icon_42 {
	background-position: -346px 0;
	width: 53px;
	height: 61px
}

.catinfo_title_inner_icon_43 {
	background-position: -346px -142px;
	width: 34px;
	height: 75px
}

.catinfo_title_inner_icon_43,
.catinfo_title_inner_icon_44 {
	background-image: url(../../images/mall/sprite_ClassifyIcon.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1
}

.catinfo_title_inner_icon_44 {
	background-position: -66px -271px;
	width: 61px;
	height: 44px
}

.catinfo_title_inner_icon_45 {
	background-position: -219px -57px;
	width: 58px;
	height: 65px
}

.catinfo_title_inner_icon_45,
.catinfo_title_inner_icon_46 {
	background-image: url(../../images/mall/sprite_ClassifyIcon.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1
}

.catinfo_title_inner_icon_46 {
	background-position: -295px 0;
	width: 47px;
	height: 75px
}

.catinfo_title_inner_container {
	overflow: hidden;
	padding-top: 25px;
	display: block
}

.catinfo_startsoon {
	margin-top: 10px;
	margin-bottom: 60px
}

.catinfo_startsoon .seckill_mod_goods_info {
	border: 1px solid #434445
}

.catinfo_startsoon .seckill_mod_goods_info_txt {
	padding: 5px 20px
}

.catinfo_startsoon_title {
	background-image: url(../../images/mall/sprite.png);
	background-position: -1194px -198px;
	background-repeat: no-repeat;
	width: 321px;
	height: 87px;
	text-align: center;
	display: block;
	margin: 0 auto
}

.catinfo_startsoon_title_txt {
	display: inline;
	line-height: 110px;
	margin-right: 35px;
	font-size: 20px;
	color: #666;
	font-weight: 400
}

.catinfo_startsoon .seckill_mod_goods_info_i {
	background: #443630
}

.catinfo_startsoon .seckill_mod_goods_info_i i {
	border-color: transparent transparent #443630
}

.catinfo_startsoon .seckill_mod_goods_starttime {
	color: #e01222;
	padding: 5px 10px 5px 0;
	display: inline-block;
	font-size: 14px;
	line-height: 1
}

.o2_retina .catinfo_title_inner_icon_19 {
	background-position: -82px 0
}

.o2_retina .catinfo_title_inner_icon_19,
.o2_retina .catinfo_title_inner_icon_25 {
	background-image: url(../../images/mall/sprite_ClassifyIcon@2x.png);
	-moz-background-size: 408px 326px;
	background-size: 408px 326px;
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1
}

.o2_retina .catinfo_title_inner_icon_25 {
	background-position: -246px -82px
}

.o2_retina .catinfo_title_inner_icon_29 {
	background-position: 0 -82px
}

.o2_retina .catinfo_title_inner_icon_29,
.o2_retina .catinfo_title_inner_icon_30 {
	background-image: url(../../images/mall/sprite_ClassifyIcon@2x.png);
	-moz-background-size: 408px 326px;
	background-size: 408px 326px;
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1
}

.o2_retina .catinfo_title_inner_icon_30 {
	background-position: -82px -82px
}

.o2_retina .catinfo_title_inner_icon_31 {
	background-position: -164px 0
}

.o2_retina .catinfo_title_inner_icon_31,
.o2_retina .catinfo_title_inner_icon_32 {
	background-image: url(../../images/mall/sprite_ClassifyIcon@2x.png);
	-moz-background-size: 408px 326px;
	background-size: 408px 326px;
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1
}

.o2_retina .catinfo_title_inner_icon_32 {
	background-position: -164px -82px
}

.o2_retina .catinfo_title_inner_icon_33 {
	background-position: 0 -164px
}

.o2_retina .catinfo_title_inner_icon_33,
.o2_retina .catinfo_title_inner_icon_34 {
	background-image: url(../../images/mall/sprite_ClassifyIcon@2x.png);
	-moz-background-size: 408px 326px;
	background-size: 408px 326px;
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1
}

.o2_retina .catinfo_title_inner_icon_34 {
	background-position: -82px -164px
}

.o2_retina .catinfo_title_inner_icon_35 {
	background-position: -164px -164px
}

.o2_retina .catinfo_title_inner_icon_35,
.o2_retina .catinfo_title_inner_icon_36 {
	background-image: url(../../images/mall/sprite_ClassifyIcon@2x.png);
	-moz-background-size: 408px 326px;
	background-size: 408px 326px;
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1
}

.o2_retina .catinfo_title_inner_icon_36 {
	background-position: -246px 0
}

.o2_retina .catinfo_title_inner_icon_37 {
	background-position: 0 0
}

.o2_retina .catinfo_title_inner_icon_37,
.o2_retina .catinfo_title_inner_icon_38 {
	background-image: url(../../images/mall/sprite_ClassifyIcon@2x.png);
	-moz-background-size: 408px 326px;
	background-size: 408px 326px;
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1
}

.o2_retina .catinfo_title_inner_icon_38 {
	background-position: -246px -164px
}

.o2_retina .catinfo_title_inner_icon_39 {
	background-position: 0 -246px
}

.o2_retina .catinfo_title_inner_icon_39,
.o2_retina .catinfo_title_inner_icon_40 {
	background-image: url(../../images/mall/sprite_ClassifyIcon@2x.png);
	-moz-background-size: 408px 326px;
	background-size: 408px 326px;
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1
}

.o2_retina .catinfo_title_inner_icon_40 {
	background-position: -82px -246px
}

.o2_retina .catinfo_title_inner_icon_41 {
	background-position: -164px -246px
}

.o2_retina .catinfo_title_inner_icon_41,
.o2_retina .catinfo_title_inner_icon_42 {
	background-image: url(../../images/mall/sprite_ClassifyIcon@2x.png);
	-moz-background-size: 408px 326px;
	background-size: 408px 326px;
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1
}

.o2_retina .catinfo_title_inner_icon_42 {
	background-position: -246px -246px
}

.o2_retina .catinfo_title_inner_icon_43 {
	background-position: -328px 0
}

.o2_retina .catinfo_title_inner_icon_43,
.o2_retina .catinfo_title_inner_icon_44 {
	background-image: url(../../images/mall/sprite_ClassifyIcon@2x.png);
	-moz-background-size: 408px 326px;
	background-size: 408px 326px;
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1
}

.o2_retina .catinfo_title_inner_icon_44 {
	background-position: -328px -82px
}

.o2_retina .catinfo_title_inner_icon_45 {
	background-position: -328px -164px
}

.o2_retina .catinfo_title_inner_icon_45,
.o2_retina .catinfo_title_inner_icon_46 {
	background-image: url(../../images/mall/sprite_ClassifyIcon@2x.png);
	-moz-background-size: 408px 326px;
	background-size: 408px 326px;
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1
}

.o2_retina .catinfo_title_inner_icon_46 {
	background-position: -328px -246px
}

.btbanner {
	padding-bottom: 110px;
	margin-top: 30px
}

.btbanner_img {
	width: 100%;
	height: 110px;
	background-color: transparent!important
}

.sk_mod_er {
	width: 45px;
	position: fixed;
	left: 50%;
	bottom: 25%;
	z-index: 100;
	display: none
}

.sk_mod_er_item {
	color: #666;
	font-size: 12px;
	text-align: center;
	position: relative;
	background: #fff
}

.sk_mod_er_item a {
	cursor: pointer;
	border-bottom: 1px solid #dcdcdc;
	width: 30px;
	padding: 10px 0;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.sk_mod_er_item a:hover {
	color: #e01d22
}

.sk_mod_er_item_on a {
	font-weight: 700;
	color: #e01d22
}

.sk_mod_er_top {
	border: 0;
	background: #e01d22;
	position: relative;
	z-index: 1;
	margin-top: -1px;
	padding-bottom: 0;
	text-align: center
}

.sk_mod_er_top a {
	line-height: 1.2;
	vertical-align: top;
	color: #fff;
	border: 0;
	height: 45px;
	padding: 0;
	width: 100%;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.sk_mod_er_top a:hover {
	background-color: #d01318
}

.sk_mod_er_top_arrow {
	font-size: 0;
	margin-top: 10px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background-image: url(../../images/mall/sprite.png);
	background-position: -2063px -198px;
	background-repeat: no-repeat;
	width: 12px;
	height: 6px
}

.sk_mod_er_top span {
	display: block
}

.sk_mod_er_mobile {
	margin-top: 3px;
	background: #e01d22;
	text-align: center;
	position: relative
}

.sk_mod_er_mobile_a {
	width: 100%;
	padding: 0;
	height: 45px;
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.sk_mod_er_mobile_a:hover {
	background-color: #d01318
}

.sk_mod_er_mobile_mb {
	background-position: -1488px -289px;
	width: 22px;
	height: 30px;
	margin-top: 6px;
	display: inline-block;
	*display: inline
}

.sk_mod_er_mobile_close,
.sk_mod_er_mobile_mb {
	background-image: url(../../images/mall/sprite.png);
	background-repeat: no-repeat;
	font-size: 0;
	*zoom: 1
}

.sk_mod_er_mobile_close {
	background-position: -2003px -198px;
	width: 20px;
	height: 20px;
	display: inline-block;
	*display: inline;
	position: absolute;
	z-index: 1;
	top: 7px;
	right: 7px;
	border: 0;
	padding: 0;
	-webkit-transition: -webkit-transform .25s;
	transition: -webkit-transform .25s;
	-moz-transition: transform .25s, -moz-transform .25s;
	transition: transform .25s;
	transition: transform .25s, -webkit-transform .25s, -moz-transform .25s;
	display: none
}

.sk_mod_er_mobile_close:hover {
	background-color: none;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg)
}

.sk_mod_er_mobile s {
	font-size: 0;
	position: absolute;
	right: 1px;
	width: 0;
	height: 0;
	top: 39%;
	border-width: 7px;
	border-style: solid;
	border-color: transparent transparent transparent #e01d22;
	z-index: 4
}

.sk_mod_er_mobile_hovered .sk_mod_er_qc,
.sk_mod_er_mobile_showed .sk_mod_er_qc {
	visibility: visible;
	opacity: 1
}

.sk_mod_er_mobile_showed .sk_mod_er_mobile_close {
	display: block
}

.sk_mod_er_qc {
	position: absolute;
	padding: 15px;
	right: 45px;
	top: -38px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	transition: opacity .3s
}

.sk_mod_er_qc_panel {
	position: relative;
	background: #fff;
	border: 4px solid #ff1943;
	padding: 5px
}

.sk_mod_er_qc_panel img {
	width: 85px;
	height: 85px
}

.o2_retina .sk_mod_er_top_arrow {
	background-position: -360px -196px;
	width: 12px;
	height: 6px
}

.o2_retina .sk_mod_er_top_arrow,
.o2_retina .sk_mod_ermobile_close {
	background-image: url(../../images/mall/sprite@2x.png);
	-moz-background-size: 984px 346px;
	background-size: 984px 346px;
	background-repeat: no-repeat
}

.o2_retina .sk_mod_ermobile_close {
	background-position: -497px -217px;
	width: 20px;
	height: 20px
}

.o2_retina .sk_mod_er_mobile_mb {
	background-image: url(../../images/mall/sprite@2x.png);
	background-position: -473px -217px;
	-moz-background-size: 984px 346px;
	background-size: 984px 346px;
	background-repeat: no-repeat;
	width: 22px;
	height: 30px
}

.classify_container {
	overflow: hidden;
	position: relative
}

.classify_container_bg {
	background: url(../../images/mall/classify_bg.png) no-repeat top;
	position: absolute;
	top: 0;
	height: 1807px;
	width: 100%
}